{% extends 'base.html' %}
{% block content %}
<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url('https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_52683-66443.jpg');/* Ruta de tu imagen de fondo */
        background-size: cover;
        background-position: center;
        font-family: 'Times New Roman', Times, serif;
    }

    .container {
        text-align: center;
        padding: 50px;
        color: #fff; /* Ajusta el color del texto principal para que sea legible en la imagen de fondo */
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 18px;
        color: #ffffff; /* Cambia el color del texto dentro de la etiqueta <p> */
        margin-top: 10px; /* Espaciado superior para el mensaje de error */
    }

    form {
        background-image:url('https://e0.pxfuel.com/wallpapers/910/72/desktop-wallpaper-aesthetic-blue-and-orange-iphone-fondo-iphone-fondos-de-pantalla-de-color-azul-fondos-de-pantalla-tiernos-really-cool-blue.jpg'); /* Fondo del formulario con opacidad */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        margin: auto;
    }

    button {
        width: 100%;
        padding: 12px;
        margin-top: 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>

<div class="container">
    <h1>Signup</h1>

    <p>{{error}}</p>

    <form action="/signup/" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary">Signup</button>
    </form>
</div>
{% endblock %}
