{% extends "base.html" %}

{% block content %}
<style>
@media screen and (min-width: 480px) {
  #form {
    width:400px;
  }
}
    @-webkit-keyframes animatebottom {
  0% {
opacity:0;
    margin-top:500px;
}

100% {
opacity:1;
    margin-top:0px;
}
}

@keyframes animatebottom { 
  0% {
opacity:0;
    margin-top:500px;
}
100% {
opacity:1;
    margin-top:0px;
}
}
        input{
        color: #888;margin:5px;
            border-radius: 0px;
    border: 0px solid #eee;
    padding: 8px;
    background: #eee;
    transition-duration:.5s;
        }
        Input:Focus{
            border-radius:50px;
            background-color: #ccc;
            color:#fff;
        }
        a{
    text-decoration:none!important;
    color:#fff;
}
        hr {
    border: 2px solid #c1c1c1;
}
        button{
            cursor: hand;
            border: none;
    background: #27a5df;
    color: white;
    padding: 11px 26px;
    border-radius: 5px;
    font-size: 16px;
    transition-duration:.1s;
        }
        Button:active{
            background-color: #555;
            
        }
        *{
            outline: none;
            user-select: none;
        }
        H1{
            width:100%;
            color: #888;
        }
        #form{
        outline:15px solid #4bbaed;
        margin: 20px;
        border-radius: 10px;
    text-align: -webkit-center;
    background: rgba(255,255,255,1);
    padding: 30px 10px;
     border-top: 30px solid #27a5df;
    border-bottom: 30px solid #27a5df;
    box-shadow: -1px 1px 20px rgba(0, 0, 0,0.5);
    Border:none;
    outline:none;
    animation:  animatebottom 1s cubic-bezier(1, -0.06, 0.26, 1.06);
        }
        body{
         -webkit-user-select:none;
   -moz-user-select: none;
   -ms-user-select: none; 
    user-select: none;
    
  
  background-image:url("https://images.pexels.com/photos/1587/blurred-background.jpg?auto=compress&cs=tinysrgb&dpr=2&w=5000");
  
    background-attachment: fixed;
    background-position: bottom left ;
    background-repeat: no-repeat;
    background-size: cover;
    transition:1s;
            padding: 10px;
            margin:0;
            color: #888;
            font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
            text-align: -webkit-center;
            
        }
        
        /* Changed footer - August 2020 */
        footer{
            padding:15px 15px;
            width: 80%;
            position: fixed;
            bottom: 2%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: #fff;
            text-align:-webkit-center;
            color:#fff!important;
            border-radius: 50px;
            color: #fff;
            background-color: rgba(255,255,255,0.25);
            
        }
header h1{
width:90%;
Border: 5px dotted #27a5df;
    color: #27a5df;
    text-align:-webkit-center;
    border-radius:5px;
}
</style>
<h1>Signin</h1>

<p>
{{error}}
</p>

<form action="/signin/" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <button>
    Signin
  </button>
</form>

{% endblock %}
