{% extends "base.html" %}

{% block content %}
<style>
    body {
        background-color: #2c2e31;
        margin: 0;
        padding: 0;
        background-image: url('https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_52683-66443.jpg'); /* Ruta de tu imagen de fondo */
        background-size: cover;
        background-position: center;
        font-family: 'Times New Roman', Times, serif;
    }

    .container {
        margin-top: 50px;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #333; /* Texto más oscuro */
    }

    form {
        background-image: url('https://e0.pxfuel.com/wallpapers/910/72/desktop-wallpaper-aesthetic-blue-and-orange-iphone-fondo-iphone-fondos-de-pantalla-de-color-azul-fondos-de-pantalla-tiernos-really-cool-blue.jpg');
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0px 0px 25px 0px rgb(255, 255, 255);
        max-width: 400px;
        width: 100%;
        margin: auto;
    }

    label {
        font-weight: bold;
        margin-bottom: 10px;
        display: block;
        color: #ffffff; /* Texto más oscuro que el fondo pero no demasiado */
    }

    input {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
        border: 1px solid #ddd; /* Gris más claro */
        border-radius: 8px;
        box-sizing: border-box;
    }

    button {
        width: 100%;
        padding: 12px;
        margin-top: 20px;
        background-color: #007bff; /* Azul oscuro */
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
    }

    p {
        text-align: center;
        color: #d9534f; /* Rojo oscuro para el mensaje de error */
        margin-top: 10px;
    }
</style>

<div class="container">
    <h1>Signin</h1>

    <p>{{error}}</p>

    <form action="/signin/" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Signin</button>
    </form>
</div>


{% endblock %}
