{% extends 'base.html' %}

{% block content %}

{{task.title}}

{% if is_shared_task %}
  <p>This is a shared task</p>
{% endif %}

{{error}}

<form method="POST">
  {% csrf_token %}
  {{form.as_p}}

  <button type="submit">
    Update
  </button>
</form>

<form action="{% url 'complete_task' task.id %}" method="POST">
  {% csrf_token %}
  <button type="submit">
    Complete
  </button>
</form>

<form action="{% url 'delete_task' task.id %}" method="POST">
  {% csrf_token %}
  <button type="submit">
    Delete
  </button>
</form>

  <h2>Comments:</h2>
  <ul>
    {% for comment in comments %}
      <li>{{ comment.text }} - {{ comment.user.username }} - {{ comment.created }}</li>
    {% endfor %}
  </ul>

{% endblock %}